# Server
PORT=3000
NODE_ENV=development

# AWS
AWS_REGION=eu-north-1

# CORS — set to your deployed CloudFront URL in production
FRONTEND_URL=http://localhost:5173

# Cognito
COGNITO_USER_POOL_ID=eu-north-1_XXXXXXXXX
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# DynamoDB table names
DYNAMODB_TASKS_TABLE=Tasks
DYNAMODB_COMMENTS_TABLE=Comments
DYNAMODB_PROJECTS_TABLE=Projects
DYNAMODB_ACTIVITY_LOGS_TABLE=ActivityLogs

# S3
S3_ORIGINALS_BUCKET=mini-jira-originals-yourname
S3_RESIZED_BUCKET=mini-jira-resized-yourname

# SNS
SNS_TOPIC_ARN=arn:aws:sns:eu-north-1:ACCOUNT_ID:TaskAssignmentsTopic
SNS_DIGEST_TOPIC_ARN=arn:aws:sns:eu-north-1:ACCOUNT_ID:DailyDigestTopic

# CloudWatch
CW_NAMESPACE=MiniJira
ENV=production
